**/.git
**/.svn
**/.hg
**/node_modules
**/.next
**/package.json
**/package-lock.json
**/README.md
**/.eslintrc.json
**/.prettierrc.json
**/.storybook
**/jest.config.js
**/next-env.d.ts
**/next.config.js
**/db.json
**/tsconfig.json
**/devops
**/src/stories
**/ckeditor5